* {
  box-sizing: border-box;
}

.body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

.item-card a {
  text-decoration: none;
}

.menu {
  margin-top: 2.4rem;
}

.input {
  color: #bfbfbf;
  background: #ffffff;
  border: 0.06rem solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 0.12rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 2rem;
  padding-right: 0.75rem;
}

.input-address {
  height: 2.5rem;
  flex: 0.8;
  background: url("../img/home.svg") left 0.68rem center no-repeat;
}

.btn {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.input:focus {
  color: #343a40;
  box-shadow: none;
  border-color: #d9d9d9;
}

.btn-primary {
  width: 6rem;
  height: 2.5rem;
  background-color: #1890ff;
  border-color: #1890ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
  box-shadow: none;
}

.btn-outline-secondary {
  border-color: #d9d9d9;
  background-color: inherit;
  width: 7rem;
  height: 2.5rem;
  color: #595959;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background-color: inherit;
  border-color: #d9d9d9;
  color: #595959;
  box-shadow: none;
}

main:first-of-type {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.icon {
  padding-right: 0.25rem;
}

.promo {
  display: block;
  margin-top: 2.2rem;
  height: 16.6rem;
  background: #fff1b8 url("../img/banner.png") no-repeat center right -12.5rem /
    45rem;
  color: #302c34;
  border-radius: 0.5rem;
}

.promo-text {
  padding: 3.7rem 0 3.7rem 3.8rem;
}

.promo-text h1 {
  font-size: 2.1rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  width: 24rem;
}

.promo-text p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 27rem;
}

.restaurants {
  margin-top: 3.1rem;
  margin-bottom: 2.6rem;
}

.restaurants h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #120706;
  flex-basis: 20%;
}

.input-goods {
  width: 17rem;
  background: url("../img/search.svg") left 0.68rem center no-repeat;
  font-size: 0.8rem;
  height: 1.8rem;
}

.item-card {
  flex-basis: 30.7%;
  background: #ffffff;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-radius: 0.43rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .item-card {
    flex-basis: 48%;
  }
}

.item-card .good-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cards {
  margin-top: 2.4rem;
}

.item-card .item-box {
  padding: 1.1rem 1.3rem 1.8rem 1.3rem;
  color: #8c8c8c;
}

.item-card header h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #120706;
}

.time-box {
  width: 3rem;
  height: 1.2rem;
  font-size: 0.6rem;
  line-height: 1.1rem;
  background: #262626;
  border-radius: 0.12rem;
  color: #ffffff;
}

.price,
.category {
  color: #8c8c8c;
}

.price::after {
  display: inline-block;
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  background-color: #8c8c8c;
}

.rating {
  color: #ffc107;
  font-weight: 700;
  margin-right: 1.5rem;
}

.rating img {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.3rem;
}

.category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer {
  padding: 3.7rem 0;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li:not(:last-child) {
  margin-right: 0.9rem;
}

.nav-link,
.social a {
  color: #8e8e8e;
}

ul {
  margin: 0;
}

.nav-link:hover,
.social a:hover {
  color: #595959;
}

.social a > i {
  font-size: 1.5rem;
}

.social a {
  margin-left: 1.3rem;
}

.nav-link {
  padding: 0;
}

.restaurant-menu .goods-info {
  margin-left: 30px;
}

.goods-info .btn {
  width: 7.75rem;
  margin-left: 0;
}

.menu-price {
  margin-left: 2rem;
  font-weight: 700;
  color: #120706;
}

.item-card .good-name {
  flex: 40%;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.good-descr {
  flex: 100%;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
}

.goods-info .icon {
  padding-left: 0.25rem;
}

@media screen and (max-width: 1200px) {
  .promo {
    background: #fff1b8 url("../img/banner.png") no-repeat center right -12.5rem /
      40rem;
  }
}

@media screen and (max-width: 1024px) {
  .restaurant-menu h1 {
    flex-basis: 23%;
  }
}

@media screen and (max-width: 960px) {
  .promo {
    background: #fff1b8 url("../img/banner.png") no-repeat center right -12.5rem /
      32rem;
  }
  .restaurant-menu h1 {
    flex-basis: 23%;
  }
}

@media screen and (max-width: 868px) {
  .promo {
    background: #fff1b8 url("../img/banner.png") no-repeat top -7rem right -12.5rem /
      28rem;
  }
  .restaurant-menu h1 {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 790px) and (min-width: 570px) {
  .promo {
    background: #fff1b8 url("../img/banner.png") no-repeat top -7rem right -12.5rem /
      24.5rem;
  }
  .promo-text {
    padding: 3.7rem 0 3.7rem 1.8rem;
  }
  .restaurant-menu h1 {
    flex-basis: 30%;
  }
  .promo-text p {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 22rem;
  }

  .promo-text h1 {
    font-size: 1.9rem;
    margin-bottom: 0.6rem;
    line-height: 2.5rem;
    width: 23rem;
  }
}

@media screen and (max-width: 668px) {
  .input-address {
    order: 3;
    flex: 100%;
    margin-top: 1.5rem;
  }
  .promo-text h1 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.8rem;
    width: 19rem;
  }
  .promo-text p {
    font-size: 1rem;
    line-height: 1.3rem;
    width: 21rem;
  }
  .rating {
    flex-basis: 10%;
  }
  .restaurants h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .input {
    height: 2.5rem;
  }
  .restaurants h1 {
    font-size: 1.6rem;
    flex: 100%;
    margin-bottom: 1.2rem;
  }
  .promo {
    background-image: none;
  }
  .promo-text {
    padding: 3.7rem;
  }
  .footer-nav {
    flex: 100%;
    margin-bottom: 1rem;
  }
  footer .logo {
    flex: 1;
    margin-left: 2rem;
  }
  .nav-links {
    flex-wrap: wrap;
    flex-basis: 70%;
  }
  .nav-links li:not(:last-child) {
    margin-right: 1.9rem;
    margin-bottom: 0.5rem;
  }
  .social {
    margin-left: 2rem;
  }
  .social a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .btn-caption {
    display: none;
  }
  .btn {
    width: 3rem;
  }
  .icon {
    padding: 0;
    margin: 0 auto;
  }
  .item-card {
    flex: 100%;
    margin-bottom: 2.5rem;
  }
  .item-card .good-img {
    height: 14rem;
  }
  .promo-text {
    padding: 4.4rem 0.9rem;
  }
  .promo-text h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    width: 20rem;
  }
  .promo-text p {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 21rem;
  }
  .input-goods {
    flex: 100%;
    font-size: 0.9rem;
  }
  .time-box {
    width: 3.6rem;
    height: 1.5rem;
    font-size: 0.7rem;
    line-height: 1.4rem;
    background: #262626;
    border-radius: 0.12rem;
    color: #ffffff;
  }
  footer .logo {
    flex: 100%;
    margin-bottom: 16px;
  }
  .nav-links {
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-bottom: 8px;
  }
  restaurant-menu h1 {
    font-size: 1.6rem;
    flex-basis: 45%;
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 380px) {
  .promo-text {
    padding: 4.4rem 1.5rem;
  }
  .promo-text h1 {
    font-size: 1.6rem;
    line-height: 1.9rem;
    width: 18rem;
  }
  .promo-text p {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 16rem;
  }
  .nav-links {
    flex-wrap: wrap;
    flex-basis: 60%;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 360px) {
  .promo-text {
    padding: 4.4rem 1.1rem;
  }
  .promo-text h1 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    width: 16rem;
  }
}
