* {
  box-sizing: border-box;
}

.body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

.menu {
  margin-top: 2.4rem;
}

.input {
  color: #bfbfbf;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 32px;
  padding-right: 12px;
}

.input-address {
  height: 40px;
  width: 690px;
  background: url("../img/home.svg") left 11px center no-repeat;
}

.btn {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.input:focus {
  color: #343a40;
  box-shadow: none;
  border-color: #d9d9d9;
}

.btn-primary {
  width: 96px;
  height: 40px;
  background-color: #1890ff;
  border-color: #1890ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
  box-shadow: none;
}

.btn-outline-secondary {
  border-color: #d9d9d9;
  background-color: inherit;
  width: 113px;
  height: 40px;
  color: #595959;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background-color: inherit;
  border-color: #d9d9d9;
  color: #595959;
  box-shadow: none;
}

main:first-of-type {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.icon {
  padding-right: 4px;
}

.promo {
  display: block;
  margin-top: 2.2rem;
  height: 16.6rem;
  background: #fff1b8 url("../img/banner.png") no-repeat center right -200px / 800px;
  color: #302c34;
  border-radius: 0.5rem;
}

.promo-text {
  padding: 3.7rem 0 3.7rem 3.8rem;
}

.promo-text h1 {
  font-size: 2.1rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  width: 24rem;
}

.promo-text p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 27rem;
}

.restaurants {
  margin-top: 3.1rem;
}

.restaurants h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #120706;
}

.input-goods {
  width: 17rem;
  background: url("../img/search.svg") left 11px center no-repeat;
  font-size: 0.8rem;
  height: 1.8rem;
}

.item-card {
  width: 21.3rem;
  height: 21rem;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-bottom: 1.6rem;
  overflow: hidden;
}

.item-card img {
  width: 21.3rem;
  height: auto;
  object-fit: cover;
}

.cards {
  margin-top: 2.4rem;
}

.item-card .item-box {
  padding: 1.1rem 1.3rem 1.8rem 1.3rem;
  color: #8c8c8c;
}

.item-card header h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #120706;
}

.time-box {
  width: 3rem;
  height: 1.2rem;
  font-size: 0.6rem;
  line-height: 1.1rem;
  background: #262626;
  border-radius: 2px;
  color: #ffffff;
}

.price::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  background-color: #8c8c8c;
}

.item-card .rating {
  color: #ffc107;
  font-weight: 700;
  margin-right: 24px;
}

.item-card .rating img {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.3rem;
}
